@font-face {
  font-family: ZillaSlab;
  src: url('/fonts/ZillaSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: GoogleSans;
  src: url('/fonts/ProductSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
